setuptools~=41.0.0
Flask~=1.0.2
nltk~=3.3
Keras~=2.2.0
numpy~=1.14.3
pandas~=0.23.0
tensorflow>=1.15.2
pytest~=3.5.1
requests~=2.20.0
matplotlib~=2.2.2
scikit_learn~=0.19.2
git+https://github.com/FlorisHoogenboom/keras-han-for-docla.git
lime~=0.1.1.36
joblib~=0.13.2
